/* icon start */
.icons ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 0;
}
.icons ul li {
  list-style: none;
  margin-left: 10px;
  font-size: 30px;
  color: white;
}
.icons ul li:hover {
  transform: scale(1.5);
}
.icons ul .wp a {
  color: green;
}
.icons ul .lin a {
  color: rgb(14, 14, 173);
}
.icons ul .feed a {
  color: rgb(31, 67, 226);
}
.icons ul .git a {
  color: black;
}
/* icons end */
/* menu bar start*/
.nav-bar ul {
  text-decoration: none;
}
.nav-bar ul li a {
  color: rgb(1, 1, 1);
  /* color: #FFFF;   */
  text-transform: capitalize;
  margin-left: 20px;
  line-height: 55px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  color: rgb(232, 187, 110);
}
.nav-bar ul li :hover {
  transform: scale(1.5);
}
.nav-bar ul li {
  list-style: none;
}
.reacticon{
  width: 100%;
}
.reacticon ul li {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  margin-top: 9px;
}
.reacticon .hideli li svg{
  margin-top: 35px;
}
/* menu end */


